.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  background-color: #b8b8b8;
  border-bottom: 1px solid #a2ffb9;
  padding-left: 1rem;
  padding-right: 1rem;
}

.links {
  display: flex;
  gap: 1rem;
}
