.titulo {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1.5rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: wrap;
  margin-top: 20px;
}